In [15]:
import pandas as pd

In [16]:
penguins = pd.read_csv('penguins_cleaned.csv')

In [17]:
df = penguins.copy()
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male
...,...,...,...,...,...,...,...
328,Chinstrap,Dream,55.8,19.8,207,4000,male
329,Chinstrap,Dream,43.5,18.1,202,3400,female
330,Chinstrap,Dream,49.6,18.2,193,3775,male
331,Chinstrap,Dream,50.8,19.0,210,4100,male
332,Chinstrap,Dream,50.2,18.7,198,3775,female

In [18]:
target = 'species'
encode = ['sex', 'island']

In [19]:
for col in encode:
    dummy = pd.get_dummies(df[col], prefix=col)
    df = pd.concat([df, dummy], axis=1)
    del df[col]

In [20]:
target_mapper = {'Adelie':0, 'Chinstrap':1, 'Gentoo':2}

In [21]:
def target_encode(val):
    return target_mapper[val]

In [22]:
df['species'] = df['species'].apply(target_encode)

In [24]:
# Separating X and y
X = df.drop('species', axis=1)
Y = df['species']

In [25]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X, Y)

RandomForestClassifier()

In [28]:
# Saving the model
import pickle
pickle.dump(clf, open('penguins_clf.pkl', 'wb'))